:root {
    --sundrive-green: #004600;
    --sundrive-orange: #ff6c00;
    --sundrive-white: #f0f0f0;
    --sundrive-black: #000000;
}

body {
    width: 100%;
    height: 100%;
    font-family: 'League Spartan', sans-serif;
    font-size: 15px;
    text-align: left;
}
html {
    width: 100%;
    height: 100%;
}
@media(min-width:767px) {
    .navbar {
        padding: 2px 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }
    .top-nav-collapse {
        padding: 0;
    }
}

.navbar-default .navbar-nav > li > a:hover {
    color: var(--sundrive-black);
    background-color: var(--sundrive-white);
}
.navbar-default {
    background-color: var(--sundrive-green);
}
.navbar-default .navbar-nav > li > a {
    color: var(--sundrive-white);
}

.navbar-brand img {
    height: inherit;
    margin-top: -15px;
}

.jumbotron {
    position: relative;
    overflow: hidden;

    /* Make it work for narrow screens */
    min-height: 450px;
    color: var(--sundrive-white);
}

.jumbotron img {
    position: absolute;
    width: 100%;
    filter: blur(1.5px);
    object-fit: cover;
    margin-top: -20px;
}

.jumbotron .container {
    position: relative;
}

.fa {
    padding: 1px;
    font-size: 30px;
    width: 10%;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    color: var(--sundrive-green);
}

.h2, h2 {
    font-size: 36px;
}

.google-maps {
    width: 100%;
    max-width: 600px;
    aspect-ratio: 4 / 3;
}
/*Gallery */

.intro {
    text-align: center;
}

#image-gallery {
    margin: 0 auto;
}

#current-image {
    width: 100%;
    max-width: 1000px;
}

#image-thumbs {
    justify-content: center;
    margin-top: 20px;
}

.thumb {
    width: 80px;
    height: 80px;
    object-fit: cover;
    margin-right: 10px;
    cursor: pointer;
}

body > .container {
    padding: 30px 15px 0;
}

.main-video {
    width: 560px;
    max-width: 100%;
    height: 315px;
}

.contact-section .fa {
    font-size: 56px;

}
